@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #ffffff;
  color: rgb(46, 45, 45);
}

nav ul {
  display: flex;
  align-items: center;

  list-style: none;
}

nav .icon {
  background: url("./images/apps.png") no-repeat center center/contain;
  width: 40px;
  height: 40px;
  background-size: 20px;
}

nav ul {
  position: absolute;
  top: 0px;
  right: 20px;
}

nav ul li {
  margin: 10px;
  cursor: pointer;
  font-size: 0.9rem;
}

li a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  font-weight: 300;
  border: none;
}

nav ul li button:hover {
  box-shadow: 0 0 2.5px 0 rgb(0 0 0 / 30%);
  border-radius: 50px;
}

nav .icon:hover {
  background-color: #c4c2c4ac;
}

.user {
  background-color: orangered;
  border-radius: 25px;
  width: 35px;
  height: 35px;
  box-sizing: border-box;

  font-size: 1rem;
  color: #f4f4f4;
}
.wrapper {
  min-height: 90vh;
  display: grid;
  place-items: center;
}

.image-container {
  text-align: center;
  margin-bottom: 20px;
}
.search-wrapper {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: 10px;
  background-color: white;
  padding: 9px;
  border-radius: 30px;
  box-shadow: 0 0 2.5px 0 rgb(0 0 0 / 30%);
}

.search-wrapper:hover {
  border: none;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
}
.google-logo {
  width: 300px;
}

.search {
  width: 80%;
  height: 30px;
  border: none;
  font-size: 1.3rem;
}

.search:focus {
  outline: none;
}

.mic,
.search-icon {
  width: 20px;
}

.buttons {
  margin: 30px;
  text-align: center;
}

.mr-2 {
  margin-right: 1rem;
}

.buttons button {
  min-width: 120px;
  padding: 5px;
  font-size: 1rem;
  background-color: whitesmoke;
  border: none;
}

footer {
  font-weight: 300;

  padding: 0 20px;
  left: 0;
  background-color: #f4f4f4;
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer ul {
  list-style: none;
  display: flex;
}

footer ul li {
  margin-right: 1.5rem;
}
footer .links {
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid rgb(0 0 0 / 30%);
}

.links .more {
  text-align: right;
  justify-self: flex-end;
}

.buttons button:hover {
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 30%);
}
@media (max-width: 600px) {
  .google-logo {
    width: 200px;
  }

  .body {
    align-items: flex-start;
  }
}
